# dependencies
node_modules/

# production
build/
dist/

# local dev
.env.local
.env.development
.env.test
.env.production

# misc
*.log
*.lock
.cache/
.vite/
.DS_Store
*.sw?

# IDEs and editors
.vscode/
.idea/